body {
	background-color: #E5E5E5;
}

.wrapper {
	width: 540px;
	height: 960px;
	margin: 118px 690px;
	background: #FFFFFF;
	border: 1px solid #AACDFF;
	box-sizing: border-box;
	box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
	border-radius: 20px;
}

.title {
	width: 380px;
	height: 47px;
	margin: 60px 82px 60px 78px;
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 47px;
	color: #0068FF;
}

.boxes input {
	width: 380px;
	height: 60px;
	margin: 0px 82px 20px 78px;
	padding: 18px 102.75px 18px 14.68px;
	background-color: #FFFFFF;
	border: 1px solid #0068FF;
	box-sizing: border-box;
	border-radius: 7px;
	font-family: 'Noto Sans CJK KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #797979;
}

.phone {
	width: 380px;
	height: 40px;
	display: flex;
	margin: 0px 82px 20px 78px;
}

.phone input {
	width: 100px;
	height: 40px;
	background: #FFFFFF;
	border: 1px solid #D2D2D2;
	box-sizing: border-box;
	border-radius: 7px;
}

.phone div {
	width: 11px;
	height: 0px;
	margin: 0px 14px;
	justify-content: center;
	align-items: center;
}